@model DomainModels.User

<form asp-action="Login">
    <div class="form-group">
        <label asp-for="CardNumber"></label>
        <input asp-for="CardNumber" class="form-control" />
        <span asp-validation-for="CardNumber" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
</form>