@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to the Movie Rental App. Please <a asp-controller="User" asp-action="Login">login</a> to continue.</p>
</div>
