@model ViewModels.UserViewModel

@{
    ViewData["Title"] = "Register";
}

<div class="container mt-4">
    <h2 class="text-center main-text mb-4">Register</h2>

    <form asp-action="Register" class="border border-primary rounded p-4">
        <div class="form-group">
            <label asp-for="FirstName" class="font-weight-bold">First Name:</label>
            <input asp-for="FirstName" class="form-control" />
            <span asp-validation-for="FirstName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="LastName" class="font-weight-bold">Last Name:</label>
            <input asp-for="LastName" class="form-control" />
            <span asp-validation-for="LastName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Age" class="font-weight-bold">Age:</label>
            <input asp-for="Age" class="form-control" />
            <span asp-validation-for="Age" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="UserName" class="font-weight-bold">Username:</label>
            <input asp-for="UserName" class="form-control" />
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="CardNumber" class="font-weight-bold">Card Number:</label>
            <input asp-for="CardNumber" class="form-control" />
            <span asp-validation-for="CardNumber" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Email" class="font-weight-bold">Email:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Password" class="font-weight-bold">Password:</label>
            <input asp-for="Password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ConfirmPassword" class="font-weight-bold">Confirm Password:</label>
            <input asp-for="ConfirmPassword" class="form-control" />
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="SubscriptionType" class="font-weight-bold">Subscription Type:</label>
            <select asp-for="SubscriptionType" class="form-control">
                <option value="Monthly">Monthly</option>
                <option value="Yearly">Yearly</option>
            </select>
            <span asp-validation-for="SubscriptionType" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-custom btn-block mt-3">Register</button>
    </form>
</div>
